@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-secondary: #3B82F6;
  --color-cta: #F97316;
  --color-background: #F8FAFC;
  --color-text: #1E293B;

  --font-sans: Inter, sans-serif;
}

body {
  @apply bg-background text-text antialiased;
}